<header class="header">
	<div class="header-top">
		<div class="header-links">
			<a href="#" class="header-link button">Home</a>
			<a href="#" class="header-link button">About</a>
			<a href="#" class="header-link button">Contact</a>
		</div>
		<button class="header-button button"></button>
	</div>
	<div class="header-wrapper">
		<div class="header-bottom">
			<a href="#" class="header-link button">Service</a>
			<a href="#" class="header-link button">Privacy</a>
			<a href="#" class="header-link button">Clients</a>
		</div>
	</div>
</header>

<main class="main">
	<div class="slider-cont">
		<div class="slider">
			<img class="slider-item" src="https://picsum.photos/600/400" alt="img">
			<img class="slider-item" src="https://picsum.photos/600/400" alt="img">
			<img class="slider-item" src="https://picsum.photos/600/400" alt="img">
			<img class="slider-item" src="https://picsum.photos/600/400" alt="img">
		</div>
		<button class="button-prev slider-button button"><img src="svg/slider-prev.svg" alt="img"></button>
		<button class="button-next slider-button button"><img src="svg/slider-next.svg" alt="img"></button>
	</div>
</main>